[submodule "submodules/smart-order-router"]
	path = submodules/smart-order-router
	url = https://github.com/Uniswap/smart-order-router
[submodule "submodules/v2-core"]
	path = submodules/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "submodules/v2-periphery"]
	path = submodules/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "submodules/v2-subgraph"]
	path = submodules/v2-subgraph
	url = https://github.com/Uniswap/v2-subgraph
[submodule "submodules/v3-core"]
	path = submodules/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "submodules/v3-periphery"]
	path = submodules/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "submodules/v3-subgraph"]
	path = submodules/v3-subgraph
	url = https://github.com/Uniswap/v3-subgraph
[submodule "submodules/sdk-core"]
	path = submodules/sdk-core
	url = https://github.com/subspace/uniswap-sdk-core.git
